

          <div class="inner cover">
            <h1 class="cover-heading">Welcome</h1>
            <p class="lead">My website is a result of the Devcamp test on humans and the effect of very long tutorials on Ruby on Rails.</p>
            <p class="lead">
              <a href="/about-me" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
          </div>